label {
    font-family: "Montserrat Semibold",sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.35725rem;
    display: block;
    font-size: 12px;
}

input {
    width: 50%;
    border: 5px solid #333791;
    padding: 16px 16px;
    margin-bottom: 1.429rem;
}
