
<h1>Cevi - QR-Code-Generator</h1>
<input type="text" class="form-control" placeholder="Link" [(ngModel)]="qr_link" (input)="onLinkChange()">

<img class="color-scheme-{{color}}" id="qr-code" [src]="png_src" alt="QR Code"/>

<input type="radio" id="web" name="color" value="cevi" [(ngModel)]="color" (change)="onLinkChange()">
<label class="-radio" for="web">Cevi Farben</label>
<br>
<input type="radio" id="rgb" name="color" value="black" [(ngModel)]="color" (change)="onLinkChange()">
<label class="-radio" for="rgb">Schwarz</label>
<br>
<input type="radio" id="hex" name="color" value="white" [(ngModel)]="color" (change)="onLinkChange()">
<label class="-radio" for="hex">Weiss</label>
<br>
<br>
<a [href]="png_src" download="PNG QR Code">PNG herunterladen</a>
<br>
<a [href]="svg_src" download="SVG QR Code">SVG herunterladen</a>
