<app-header></app-header>
<div class="content">
  <div class="left-right-grid">
    <div class="header">
      <p>Du brauchst für einen Cevi-Anlass oder Cevi-Ausbildung einen QR. Erstelle mit diesem Formular deinen Cevi QR-Code.</p>
    </div>
    <div class="left">
      <h2>Input</h2>
      <h3>Design</h3>
      <design-switcher></design-switcher>
      <h3>Typ und Inhalt</h3>
      <type-switcher></type-switcher>
    </div>
    <div class="right">
      <h2>Output</h2>
      <img [src]="png_src" alt="QR Code" class="color-scheme-{{ applicationFacade.color | async }}" id="qr-code" />
      <a [href]="png_src" class="download" download="PNG QR Code"> PNG herunterladen </a>
      <a [href]="svg_src" class="download" download="SVG QR Code">SVG herunterladen</a>
    </div>
  </div>
</div>
<app-footer></app-footer>
