
#qr-code {
  width: 400px;
  height: 400px;
  background-size: 400px;
  display: block;
  margin: 1rem;
  margin-left: 0;
}


.color-scheme-cevi {
  background-color: #fff;
}

.color-scheme-white {
  background-color: #000;
}

.color-scheme-black {
  background-color: #fff;
}

.left-right-grid {
  display: grid;
  column-gap: 3rem;
  grid-template-areas: "header header"
  "left right";
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.header {
  grid-area: header;
  p {
    margin-top: 0
    ;
  }
}

.download {
  font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #333791;
    display: block;
    float: left;
    padding: 0.75rem;
    min-width: 5rem;
    border: 0;
    margin: 1rem;
    margin-left: 0;
}
