@font-face {
  font-family: "Montserrat Light";
  src: url("fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Semibold";
  src: url("fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat Semibold";
  src: url("fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat Thin";
  src: url("fonts/Montserrat-Thin.ttf");
}

@font-face {
  font-family: "Montserrat Black";
  src: url("fonts/Montserrat-Black.ttf");
}
