select {
  margin-bottom: 2rem;
  padding: 1rem;
  width: 50%;
  border: 5px solid #c41333;
  font-family: "Montserrat Regular",sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
