@import "styles/fonts";
$main-font: "Montserrat Light";
$text-size-normal: 14px;

html, body {
  font-family: $main-font;
  font-size: $text-size-normal;
  margin: 0;
  padding: 0;

}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin-top: 4rem;
  flex: 1 0 auto;
  box-sizing: border-box;
  background-color: whitesmoke;
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat Bold",sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

p, span, label {
  font-family: "Montserrat Regular",sans-serif;
  font-weight: 400;
}

span {
  font-weight: 200;
}
